	.bg-siniy {
		background-color: #3262fc;
	}

	.pic {
		height: 498px;
	}

	.ms-7 {
		margin-left: 112px;
	}

	.ms-10 {
		margin-left: 40px;
	}

	.mt-100 {
		margin-top: 100px;
	}

	.mt-125 {
		margin-top: 400px;
	}